<div class="px-4 py-5 my-5 text-center">
    <h2 class="display-8 fw-bold">Please wait. Rdedirecting to you payment gateway...</h2>
    <img class="d-block mx-auto mb-4" src="/img/hurray-vp7m1t.jpg" alt="" width="90" height="80">
  </div>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://sdk.cashfree.com/js/ui/2.0.0/cashfree.sandbox.js"></script>

<script>
    window.onload= function(){
        console.log("hai")
      var paymentSessionId = "{{sessionId}}";
      const cashfree = new Cashfree(paymentSessionId);
      console.log(cashfree)
      cashfree.redirect();
}
</script>